.container {
  background-color: #242424;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 2rem;
}

.heading {
  margin-block-end: 1rem;
}

.input {
  font-size: 1rem;
  width: 100%;
  height: 2rem;
  margin: 0.25rem;
}

.separator {
  margin-block: 1.5rem;
}

.resultWrapper {
  display: flex;
  gap: 0.25rem;
  border: solid 1px #454545;
  padding: 0.5rem;
}

.resultHeading {
  font-size: 1rem;
  font-weight: 100;
}

.resultHeading::after {
  content: ':';
}

.result {
  font-style: normal;
}

.result::after {
  content: ' ';
}
