.container {
  background-color: #242424;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 2rem;
}

.heading {
  margin-block-end: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  display: flex;
}

.mortgage,
.rent {
  font-size: 2rem;
  width: 50%;
}

.submit {
  height: 1.5rem;
}

.result {
  margin-block-start: 0.5rem;
}
